.btn,
.btn:link,
.btn:visited {
  margin-top: 2.6rem;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.4rem 3.2rem;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-color: #5c374c;
  color: white;

  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn:link,
.btn:visited {
  background-color: #985277;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.btn:hover,
.btn:active {
  background-color: #985277;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1.2);
  transition: all 0.7s;
}

@media (max-width: 80rem) {
  .container {
    text-align: center;
  }
}

@media (max-width: 34em) {
  .btn {
    margin-top: 0.2rem;
  }

  .btn:hover {
    transform: none;
    transition: none;
  }
}
