@import-normalize;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #5c374c;
  background-color: #faa275;
  background-size: cover;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
}

.grid--3-cols {
  grid-template-columns: 0.5fr 0.3fr 0.2fr;
}

.textCenter {
  text-align: center;
}

.hidden {
  display: none;
}

.no-pointer-events {
  pointer-events: none;
}